body {
  background-color: #eee;
}


header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #eee;
}

/* 20231025_1445 */
/* 反白後ctrl加?對程式註解 */
nav ul {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  width: 45vw;
  justify-content: space-around;
}


nav{
  border-style: solid;
  border-color: red;
}


.logo{
  width: 55vw;
  border-style: solid;
  border-color: black;
}

/* 20231025_1452 */
nav li{
  list-style: none;
}


nav a{
  color: rgb(0, 100, 10);
  text-decoration: none;
}
